[*.{kt,kts}]
ktlint_disabled_rules=import-ordering,filename,trailing-comma-on-call-site,trailing-comma-on-declaration-site,curly-spacing,annotation,argument-list-wrapping,chain-wrapping,enum-entry-name-case,final-newline,indent,max-line-length,modifier-order,multiline-if-else,no-blank-line-before-rbrace,no-blank-lines-in-chained-method-calls,no-consecutive-blank-lines,no-empty-class-body,no-empty-first-line-in-method-block,no-line-break-after-else,no-line-break-before-assignment,no-multi-spaces,no-semi,no-trailing-spaces,no-unit-return,no-unused-imports,no-wildcard-imports,package-name,parameter-list-wrapping,string-template,annotation-spacing,colon-spacing,comma-spacing,comment-spacing,dot-spacing,double-colon-spacing,keyword-spacing,op-spacing,paren-spacing,range-spacing,spacing-around-angle-brackets