application:
  name: familie-ba-sak

server:
  servlet:
    context-path: /
  port: 8089

spring:
  autoconfigure.exclude: org.springframework.boot.autoconfigure.web.servlet.error.ErrorMvcAutoConfiguration
  main.banner-mode: "off"
  datasource:
    hikari:
      maximum-pool-size: 2
      connection-test-query: "select 1"
      max-lifetime: 30000
      minimum-idle: 1
  jpa:
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: "org.hibernate.dialect.PostgreSQL95Dialect"
        temp:
          use_jdbc_metadata_defaults: false
  flyway:
    enabled: true
  kafka:
    client-id: familie-ba-sak
    properties:
      security.protocol: SASL_SSL
      sasl:
        mechanism: PLAIN
        jaas.config: org.apache.kafka.common.security.plain.PlainLoginModule required username="${CREDENTIAL_USERNAME}" password="${CREDENTIAL_PASSWORD}";
    producer:
      group-id: srvfamilie-ba-sak
      acks: 1
      retries: 3
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

logging:
  config: "classpath:logback-spring.xml"

retry.backoff.delay: 5000

funksjonsbrytere:
  enabled: true
  unleash:
    uri: https://unleash.nais.adeo.no/api/
    cluster: ${NAIS_CLUSTER_NAME}
    applicationName: ${NAIS_APP_NAME}
  vedtak:
    producer:
      enabled: true

management:
  endpoint.health.show-details: always
  endpoints.web:
    exposure.include: info, health, metrics, prometheus
    base-path: "/internal"
  metrics.export.prometheus.enabled: true
  health:
    db:
      enabled: true
  metrics:
    web:
      server:
        request:
          autotime:
            enabled: true

BA_SAK_FRONTEND_CLIENT_ID: "dummy"
BA_MOTTAK_CLIENT_ID: "dummy"
FAMILIE_PROSESSERING_CLIENT_ID: "dummy"
FAMILIE_OPPDRAG_API_URL: http://localhost:8087/api
FAMILIE_BA_DOKGEN_API_URL: http://localhost:8080
NORG2_BASE_URL: http://localhost:1337/rest/api/norg2
FAMILIE_BA_INFOTRYGD_FEED_API_URL: http://familie-ba-infotrygd-feed/api
FAMILIE_BA_INFOTRYGD_BARNETRYGD_API_URL: http://infotrygd-barnetrygd

VEILEDER_ROLLE: ""
SAKSBEHANDLER_ROLLE: ""
BESLUTTER_ROLLE: ""

ENVIRONMENT_NAME: local