<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="ROOT_LOG_LEVEL" value="INFO"/>

    <!-- Logger for sensitive data -->
    <appender name="secureLoggerRestAppender" class="no.nav.familie.log.appender.SecureLoggerRestAppender"/>
    <logger name="secureLogger" level="INFO" additivity="false">
        <appender-ref ref="secureLoggerRestAppender"/>
    </logger>

    <appender name="SPORING_LOG" class="com.papertrailapp.logback.Syslog4jAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%m%n%xEx</pattern>
        </layout>

        <syslogConfig class="org.productivity.java.syslog4j.impl.net.tcp.TCPNetSyslogConfig">
            <!-- remote system to log to -->
            <host>audit.nais</host>
            <!-- remote port to log to -->
            <port>6514</port>
            <ident>FAMILIE-BA-SAK</ident>
            <!-- max log message length in bytes -->
            <maxMessageLength>128000</maxMessageLength>
        </syslogConfig>
    </appender>

    <logger name="auditLogger" level="INFO" additivity="false">
        <appender-ref ref="SPORING_LOG"/>
    </logger>

    <!-- Spesiell håndtering av loggeren no.nav.log.LogFilter for å forhindre logging av isAlive-sjekker o.l. -->
    <appender name="stdout_json" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder"/>
    </appender>

    <appender name="Sentry" class="io.sentry.logback.SentryAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>WARN</level>
        </filter>
    </appender>

    <root level="${ROOT_LOG_LEVEL:-INFO}">
        <!-- nais+local -->
        <appender-ref ref="stdout_json"/>
        <!-- <appender-ref ref="Sentry" /> -->
    </root>

    <logger name="no.nav" level="WARN"/>
    <logger name="no.nav.familie" level="INFO"/>
    <logger name="no.nav.familie.http.sts" level="WARN"/>
    <logger name="org.apache" level="INFO"/>
    <logger name="org.apache.cxf" level="ERROR"/>
    <logger name="org.apache.http.client.protocol.ResponseProcessCookies" level="ERROR"/>
    <logger name="org.apache.wss4j.common.crypto.CryptoBase" level="ERROR"/>

</configuration>
