name: Pull request
on:
  workflow_dispatch:
  merge_group:
  pull_request:
    types: [opened, synchronize, reopened, ready_for_review]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  ktlint:
    name: Ktlint
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # ratchet:actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # ratchet:actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
          cache: 'maven'

      - name: Kjør ktlint
        env:
          GITHUB_USERNAME: x-access-token
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mvn -B --no-transfer-progress antrun:run@ktlint

  enhetstester:
    name: Enhetstester
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # ratchet:actions/checkout@v4
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # ratchet:actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
          cache: 'maven'
      - name: Kjør enhetstester
        env:
          MAVEN_OPTS: "-Xmx4g -Dmaven.artifact.threads=10"
          GITHUB_USERNAME: x-access-token
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mvn verify -B --no-transfer-progress --settings .m2/maven-settings.xml --file pom.xml -Penhetstest ${{ github.event_name != 'merge_group' && '-Pkover -Dkover.reportXml.path=target/kover/UT.xml' || '' }}
      - name: Last opp Kover UT rapport
        if: ${{ github.event_name != 'merge_group' }}
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # ratchet:actions/upload-artifact@v4
        with:
          name: koverUT
          path: target/kover/UT.xml
          retention-days: 1
          overwrite: true

  integrasjonstester:
    name: Integrasjonstester
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # ratchet:actions/checkout@v4
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # ratchet:actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
          cache: 'maven'
      - name: Kjør integrasjonstester
        env:
          MAVEN_OPTS: "-Xmx4g -Dmaven.artifact.threads=10"
          GITHUB_USERNAME: x-access-token
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mvn verify -B --no-transfer-progress --settings .m2/maven-settings.xml --file pom.xml -Pintegrasjonstest -Dsurefire.rerunFailingTestsCount=2 ${{ github.event_name != 'merge_group' && '-Pkover -Dkover.reportXml.path=target/kover/IT.xml' || '' }}
      - name: Last opp Kover IT rapport
        if: ${{ github.event_name != 'merge_group' }}
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # ratchet:actions/upload-artifact@v4
        with:
          name: koverIT
          path: target/kover/IT.xml
          retention-days: 1
          overwrite: true

  sonar:
    if: github.actor != 'dependabot[bot]' && github.event_name != 'merge_group'
    name: Sonar
    runs-on: ubuntu-latest
    needs: [enhetstester, integrasjonstester]
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # ratchet:actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # ratchet:actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
          cache: 'maven'
      - name: Last ned Kover UT rapport
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # ratchet:actions/download-artifact@v4
        with:
          name: koverUT
          path: kover/UT
      - name: Last ned Kover IT rapport
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # ratchet:actions/download-artifact@v4
        with:
          name: koverIT
          path: kover/IT
      - name: Cache Sonar packages
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # ratchet:actions/cache@v4
        with:
          path: ~/.sonar/cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar
      - name: Kjør Sonar
        env:
          MAVEN_OPTS: "-Xmx4g -Dmaven.artifact.threads=10"
          GITHUB_USERNAME: x-access-token
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: |
          mvn sonar:sonar -Dsonar.coverage.jacoco.xmlReportPaths="kover/UT/UT.xml,kover/IT/IT.xml"

  verdikjedetesterFeatureToggleOff:
    name: Verdikjedetester m/ feature toggles slått av
    permissions:
      contents: "read"
      id-token: "write"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # ratchet:actions/checkout@v4
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # ratchet:actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
          cache: 'maven'
      - name: Kjør verdikjedetester m/ feature toggles slått av
        env:
          MAVEN_OPTS: -Xss1024M -Xmx2048M
          GITHUB_USERNAME: x-access-token
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          mvn -B --no-transfer-progress verify --settings .m2/maven-settings.xml --file pom.xml -DargLine="-DmockFeatureToggleAnswer=false" -Pverdikjedetest

  verdikjedetesterFeatureToggleOn:
    name: Verdikjedetester m/ feature toggles slått på
    permissions:
      contents: "read"
      id-token: "write"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # ratchet:actions/checkout@v4
      - uses: actions/setup-java@dded0888837ed1f317902acf8a20df0ad188d165 # ratchet:actions/setup-java@v4
        with:
          java-version: 21
          distribution: 'temurin'
          cache: 'maven'
      - name: Kjør verdikjedetester m/ feature toggles slått på
        env:
          MAVEN_OPTS: "-Xmx4g -Dmaven.artifact.threads=10"
          GITHUB_USERNAME: x-access-token
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |-
          mvn -B --no-transfer-progress verify --settings .m2/maven-settings.xml --file pom.xml -DargLine="-DmockFeatureToggleAnswer=true" -Pverdikjedetest
