# Full pipeline on push to main. Build, test, and deploy to dev + prod
name: Main
on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
    paths-ignore:
      - '**.md'
      - '**.MD'
      - '.github/**.yaml'
      - '.gitignore'
      - 'CODEOWNERS'
      - 'LICENSE'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    if: github.ref == 'refs/heads/main'
    permissions:
      contents: read
      id-token: write
    uses: navikt/familie-baks-gha-workflows/.github/workflows/build-maven-app.yaml@main # ratchet:exclude
    with:
      build-image: true
      push-image: true
      byosbom: target/classes/META-INF/sbom/application.cdx.json
      skip-tests: true
      java-version: '25'
    secrets: inherit
  deploy-dev:
    name: Deploy dev
    permissions:
      id-token: write
    needs: [build]
    uses: navikt/familie-baks-gha-workflows/.github/workflows/deploy.yaml@main # ratchet:exclude
    with:
      image: ${{ needs.build.outputs.image }}
      cluster: dev-gcp
      resource: .nais/app-dev.yaml
    secrets: inherit
  deploy-prod:
    name: Deploy prod
    permissions:
      id-token: write
    needs: [build, deploy-dev]
    uses: navikt/familie-baks-gha-workflows/.github/workflows/deploy.yaml@main # ratchet:exclude
    with:
      image: ${{ needs.build.outputs.image }}
      cluster: prod-gcp
      resource: .nais/app-prod.yaml
    secrets: inherit
  varsle-slack:
    name: Slack-melding ved feil
    if: failure()
    needs: [ build, deploy-dev, deploy-prod ]
    uses: navikt/familie-baks-gha-workflows/.github/workflows/notify-slack.yaml@main # ratchet:exclude
    secrets: inherit