name: Deploy kafka topics

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # ratchet:actions/checkout@v4
      - name: Deploy bisys-opphoer-av-barnetrygd-topic til dev
        uses: nais/deploy/actions/deploy@21af204a4d63d1c10d149916d96669d5c2fa6f76 # ratchet:nais/deploy/actions/deploy@v2
        env:
          APIKEY: ${{ secrets.GITHUB_ACCESS_TOKEN }}
          CLUSTER: dev-gcp
          RESOURCE: .nais/kafka/bisys-opphoer-av-barnetrygd-dev.yaml
      - name: Deploy bisys-opphoer-av-barnetrygd-topic til prod
        uses: nais/deploy/actions/deploy@21af204a4d63d1c10d149916d96669d5c2fa6f76 # ratchet:nais/deploy/actions/deploy@v2
        env:
          APIKEY: ${{ secrets.GITHUB_ACCESS_TOKEN }}
          CLUSTER: prod-gcp
          RESOURCE: .nais/kafka/bisys-opphoer-av-barnetrygd-prod.yaml
      - name: Deploy dvh-vedtak-topic til dev
        uses: nais/deploy/actions/deploy@21af204a4d63d1c10d149916d96669d5c2fa6f76 # ratchet:nais/deploy/actions/deploy@v2
        env:
          APIKEY: ${{ secrets.GITHUB_ACCESS_TOKEN }}
          CLUSTER: dev-gcp
          RESOURCE: .nais/kafka/dvh-vedtak-topic-dev.yaml
      - name: Deploy aapen-familie-ba-sak-identer-med-barnetrygd til dev
        uses: nais/deploy/actions/deploy@21af204a4d63d1c10d149916d96669d5c2fa6f76 # ratchet:nais/deploy/actions/deploy@v2
        env:
          APIKEY: ${{ secrets.GITHUB_ACCESS_TOKEN }}
          CLUSTER: dev-gcp
          RESOURCE: .nais/kafka/aapen-familie-ba-sak-identer-med-barnetrygd-dev.yaml
      - name: Deploy dvh-vedtak-topic til prod
        uses: nais/deploy/actions/deploy@21af204a4d63d1c10d149916d96669d5c2fa6f76 # ratchet:nais/deploy/actions/deploy@v2
        env:
          APIKEY: ${{ secrets.GITHUB_ACCESS_TOKEN }}
          CLUSTER: prod-gcp
          RESOURCE: .nais/kafka/dvh-vedtak-topic-prod.yaml
      - name: Deploy dvh-saksstatistikk-sak-v1-topic til dev
        uses: nais/deploy/actions/deploy@21af204a4d63d1c10d149916d96669d5c2fa6f76 # ratchet:nais/deploy/actions/deploy@v2
        env:
          APIKEY: ${{ secrets.GITHUB_ACCESS_TOKEN }}
          CLUSTER: dev-gcp
          RESOURCE: .nais/kafka/dvh-saksstatistikk-sak-v1-topic-dev.yaml
      - name: Deploy dvh-saksstatistikk-sak-v1-topic til prod
        uses: nais/deploy/actions/deploy@21af204a4d63d1c10d149916d96669d5c2fa6f76 # ratchet:nais/deploy/actions/deploy@v2
        env:
          APIKEY: ${{ secrets.GITHUB_ACCESS_TOKEN }}
          CLUSTER: prod-gcp
          RESOURCE: .nais/kafka/dvh-saksstatistikk-sak-v1-topic-prod.yaml
      - name: Deploy dvh-sakstatistikk-behandling-v1-topic til dev
        uses: nais/deploy/actions/deploy@21af204a4d63d1c10d149916d96669d5c2fa6f76 # ratchet:nais/deploy/actions/deploy@v2
        env:
          APIKEY: ${{ secrets.GITHUB_ACCESS_TOKEN }}
          CLUSTER: dev-gcp
          RESOURCE: .nais/kafka/dvh-sakstatistikk-behandling-v1-topic-dev.yaml
      - name: Deploy dvh-sakstatistikk-behandling-v1-topic til prod
        uses: nais/deploy/actions/deploy@21af204a4d63d1c10d149916d96669d5c2fa6f76 # ratchet:nais/deploy/actions/deploy@v2
        env:
          APIKEY: ${{ secrets.GITHUB_ACCESS_TOKEN }}
          CLUSTER: prod-gcp
          RESOURCE: .nais/kafka/dvh-sakstatistikk-behandling-v1-topic-prod.yaml
      - name: Deploy aapen-familie-ba-sak-identer-med-barnetrygd til prod
        uses: nais/deploy/actions/deploy@21af204a4d63d1c10d149916d96669d5c2fa6f76 # ratchet:nais/deploy/actions/deploy@v2
        env:
          APIKEY: ${{ secrets.GITHUB_ACCESS_TOKEN }}
          CLUSTER: prod-gcp
          RESOURCE: .nais/kafka/aapen-familie-ba-sak-identer-med-barnetrygd-prod.yaml

  loggfeil:
    name: Send logg til slack ved feil
    runs-on: ubuntu-latest
    needs: [deploy]
    if: failure()
    steps:
      - name: Send logg til slack ved feil
        run: |
          curl -X POST --data "{\"text\": \"Deploy av $GITHUB_REPOSITORY feilet - $GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID\"}" $WEBHOOK_URL
        env:
          WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_URL }}
