name: Sonar
on:
  workflow_dispatch:
  push:
    branches:
      - 'main'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

jobs:
  ktlint:
    name: Ktlint
    permissions:
      contents: read
    uses: navikt/familie-baks-gha-workflows/.github/workflows/ktlint.yaml@main # ratchet:exclude
    secrets: inherit

  unit-test:
    name: Unit test
    permissions:
      contents: read
    uses: navikt/familie-baks-gha-workflows/.github/workflows/pull-request-maven.yaml@main # ratchet:exclude
    with:
      profile: 'enhetstest'
      with-coverage: true
      coverage-artifact-name: 'enhetstest'
      coverage-artifact-path: 'target/coverage/enhetstest.xml'
      java-version: '25'
    secrets: inherit

  integration-test:
    name: Integration test
    permissions:
      contents: read
    uses: navikt/familie-baks-gha-workflows/.github/workflows/pull-request-maven.yaml@main # ratchet:exclude
    with:
      profile: 'integrasjonstest'
      with-coverage: true
      coverage-artifact-name: 'integrasjonstest'
      coverage-artifact-path: 'target/coverage/integrasjonstest.xml'
      java-version: '25'
    secrets: inherit

  sonar:
    name: Sonar
    needs: [ unit-test, integration-test ]
    uses: navikt/familie-baks-gha-workflows/.github/workflows/sonar.yaml@main # ratchet:exclude
    with:
      unit-test-artifact-name: 'enhetstest'
      unit-test-artifact-path: 'coverage/enhetstest'
      integration-test-artifact-name: 'integrasjonstest'
      integration-test-artifact-path: 'coverage/integrasjonstest'
      java-version: '25'
    secrets: inherit

